 body {
    margin: 0;
    font-family: sans-serif;
 }
.inputs{
    display: flex;
    justify-content: center;
    gap: 10px;
    font-size: 16px;
}
.input{
    width: 320px;
}
.button{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.button-calcular{
    width: 200px;
    height: 40px;
    border: 0;
    border-radius: 10px;
    background-color: brown;
    color: #fff;
}
.mensagem{
    display: flex;
    justify-content: center;
    margin: 20px;
}