body {
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(135deg, #0f172a, #1e293b);
  margin: 0;
  padding: 10px;
  color: white;
}

h1 {
  text-align: center;
  color: #14a1dd;
  font-size: 30px;
  margin-bottom: 15px;
}

.contexto {
  text-align: center;
  font-size: 16px;
  width: 800px;
  margin: auto;
  background-color: #111827;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.4);
  line-height: 1.6;
  margin-bottom: 20px;
}

#pergunta {
  width: 800px;
  margin: auto;
  background-color: #1e293b;
  padding: 15px;
  border-radius: 12px;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 15px;
  text-align: center;
}
.resposta{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

#ipt_resposta {
  width: 280px;
  height: 10px;
  padding: 12px;
  border: 2px solid #475569;
  border-radius: 10px;
  background-color: #111827;
  color: white;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  outline: none;
}

#ipt_resposta:focus {
  border-color: #14a1dd;
}

button {
  padding: 12px 25px;
  border: none;
  border-radius: 10px;
  background-color: #14a1dd;
  color: black;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
}

button:hover {
  background-color: #0ea5e9;
}

#div_tabela {
  display: flex;
  justify-content: center;
}

table {
  border-spacing: 3px;
  background-color: #111827;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.4);
}

td {
  width: 32px;
  height: 32px;
  background-color: #334155;
  border: 2px solid #475569;
  border-radius: 5px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: white;
}

.azul {
  background-color: #6aaa64;
  border: 2px solid #6aaa64;
  color: white;
}

#div_msg {
  text-align: center;
  margin-top: 20px;
  font-size: 22px;
  font-weight: bold;
  color: #14a1dd;
}